div.info {
  position: relative;
  top: -60px;
  background-color: black;
  width: 100%;
  height: auto;
}
div.nav {
  height: 145.455px;
  padding-top: 15px;
  border-bottom: 2px solid rgb(61,61,61);
}
div.three-bt{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: auto;
  padding-top: 20px;
  border: none;
  width: 80%;
  height: 125.455px;
}
div.thr-bt {
  display: block;
  width: 100%;
  height: 125px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  border-bottom: 5px solid transparent;
  padding: 0 1px;
}
div.thr-bt svg {
  display: block;
  margin: auto;
}
div.thr-bt:hover{
  cursor: pointer;
}
div.thr-bt:hover span{
  color: white;
}
div.thr-bt:hover g{
  fill: white;
}
g.icon-fill {
  fill: rgb(155,155,155);
}
div.thr-bt span {
  color: rgb(155,155,155);
  font-weight: 700;
}
div.info-bt {
  border: none;
  text-align: center;
  width: 100%;
  height: 21.8182px;
  background: black;
  font-size: 16px;
  margin: 10px 0 0 0;
}
div.active {
  border-bottom: 5px solid red;
}
div.active span{
  color: white;
}
div.active g{
  fill: white;
}
